<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBdFsOQazrTlfMjUkur5YVl_fpNxvjS4U</string>
	<key>GCM_SENDER_ID</key>
	<string>358149224953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.everyplogging</string>
	<key>PROJECT_ID</key>
	<string>plogging-32dfa</string>
	<key>STORAGE_BUCKET</key>
	<string>plogging-32dfa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358149224953:ios:d605222e5e4cba7056a528</string>
</dict>
</plist>